:root {
    --backgroundcolor: linear-gradient(to bottom left, #0f172a, #1e1a78, #0f172a);
    --height-full: 

}

html, body {
   background: var(--backgroundcolor);
   height: 100%;
   margin: 0;
}

body { 
    display:flex; 
    flex-direction: column;
    justify-content:center; 
    align-items:center; 

}

 #icon {
    height: 70px;
     width: 70px;
 }

 .alfa-slab-one-regular {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
    font-family: "Alfa Slab One";
    color: white;
    font-size: 50px;
}